NEXT_PUBLIC_SUPABASE_URL=https://hlqfbzoyfjhimbrocseq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhscWZiem95ZmpoaW1icm9jc2V4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDE0MzU1MzksImV4cCI6MjA1NzAxMTUzOX0.NqzRpVpSc6n-p7bA_V-sNrl4ow_q7heSI9lf71RrE0g